<h1>Edit <%= "#{@figure.name}" %></h1>

<form action='/figures/<%= @figure.id %>' method='POST'>
  <label><h2>Name:</h2></label>
  <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"/>
  <br />

  <h2>Landmarks</h2>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%= 'checked' if @figure.landmarks.include?(landmark) %> id="landmark_<%= landmark.id %>"><%= landmark.name %></input>
  <% end %>
  <br />
  <label>and/or, create a new landmark: </label>
  <br />
  <label>Name: </label>
  <input type="text" name="new_landmark[name]" id="new_landmark"/>
  <label>Year completed: </label>
  <input type="text" name="new_landmark[year_completed]" />
  <br />

  <h2>Titles</h2>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" <%= 'checked' if @figure.titles.include?(title) %> id="title_<%= title.id %>"><%= title.name %></input>
  <% end %>
  <br />
  <label>and/or create a new title: </label>
  <input type="text" name="new_title[name]" id="new_title"/>
  <br />


  <input type="submit" value="Edit Figure" />
</form>
